* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  /* need this for background color */
  /* background-color: blue; */
}

html {
  scroll-behavior: smooth;
  height: 100%;
}


.header {
  border: solid red;
  max-width: 100%;
  position: sticky;
  top: 0;
  /* background-color: blue; */
}

.navbar {
  display: flex;
  border: solid blue;
  font-size: 45px;
  justify-content: space-between
}

.link {
  text-decoration: none;
}

.slideshow {
  border: solid green;
  /* position: relative; */
}

.about {
  border: solid pink;
  font-size: 20px;
}

.footer {
  position: relative;
  top: 1200px;
  padding: 100px;
  max-width: 100%;
  background-color: lightblue

}
